@model IEnumerable<MyCinema.Models.Seat>

@{
    ViewBag.Title = "Seats-List";
}

<h2>List of Seats</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Room ID")
        </th>
        <th>
            @Html.Label("Row")
        </th>
        <th>
            @Html.Label("Seat")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.row)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.col)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}
</table>
