@model MyCinema.Models.Cinema

@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="background-color: #272521; border-radius:10px; padding:10px; margin-bottom: 20px; vertical-align:middle; text-align:center;">
    @foreach (var movie in ViewBag.movies)
    {
        <span style="position:relative;">
            @if (movie.picture != null && movie.picture.Length > 0)
            {
                <a href="@Url.Action("MovieProjections", "Movies", new { movie_id = movie.id }, null)">
                    <img src="data:image;base64,@System.Convert.ToBase64String(movie.picture)" style="max-height: 150px;" />
                </a>
            }
        </span>
    }
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <h2>Select a Cinema</h2>
            @Html.DropDownList("cinemas", ViewBag.cinemas as SelectList, htmlAttributes: new { @class = "form-control", @id = "cinemas" })
        </div>
        <div class="col-md-4">
            <h2>Select a Movie</h2>
            @Html.DropDownList("movies", new SelectList(" "), htmlAttributes: new { @class = "form-control", @id = "movies" })
            <div id="error" class="text-danger" style="display:none">No movies in this cinema!</div>
        </div>
        <div class="col-md-4">
            <h2>Projections:</h2>
            <div id="projections" style="background-color:antiquewhite; border-radius:10px; padding:10px;">
                Choose Cinema and Movie to Display Projections
            </div>
            <div id="error2" class="text-danger" style="display:none">No projections for this movie!</div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#cinemas").change(function () {
                $.get("/Home/GetMovies", { cinemaID: $("#cinemas").val() }, function (data) {
                    $("#movies").empty();
                    if (data && data != "") {
                        $.each(data, function (index, row) {
                            $("#movies").append("<option value='" + row.Id + "'>" + row.MovieName + "</option>")
                        });
                        document.getElementById("error").style.display = "none";
                    }
                    else {
                        document.getElementById("error").style.display = "block";
                    }
                });
            })
        });
    </script>
    <script>
        function pad(num) {
            num = "0" + num;
            return num.slice(-2);
        };

        function dateFormatting(str) {
            var year, month, day, hour, minute, d, finalDate;
            d = new Date(parseInt(str.replace(/\D/g, "")));

            year = d.getFullYear();
            month = pad(d.getMonth() + 1);
            day = pad(d.getDate());
            hour = pad(d.getHours());
            minutes = pad(d.getMinutes());
            finalDate = year + "-" + month + "-" + day + " " + hour + ":" + minutes;

            return finalDate;
        };

        $(document).ready(function () {
            $("#movies").change(function () {
                $.get("/Home/GetProjections", { cinemaID: $("#cinemas").val(), movieID: $("#movies").val() }, function (data) {
                    $("#projections").empty();
                    if (data && data != "") {
                        $.each(data, function (index, row) {
                            $("#projections").append("<div>Start Date: "
                                + dateFormatting(row.StartDate)
                                + "<br/>Room: "
                                + row.RoomID
                                + "<br/>Free seats: "
                                + row.FreeSeats
                                + "<br/><a href=\x27Tickets/BookTicket?projection_id=" + row.Id + "\x27>Book a ticket</a>"
                                + "</div><hr/>")
                        });
                        document.getElementById("error2").style.display = "none";
                    }
                    else {
                        document.getElementById("error2").style.display = "block";
                    }
                });
            })
        });
    </script>
}