@model MyCinema.Models.Projection

@{
    ViewBag.Title = "Projection-Delete";
}

<h3>Are you sure you want to delete this Projection?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @if (Model.Movie.picture != null && Model.Movie.picture.Length > 0)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Movie.picture)" style="max-height: 150px; max-width: 300px;" />
            }
        </dt>
        <dt>
            Movie name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.name)
        </dd>
        <dt>
            Start date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>
        <dt>
            Cinema name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.Cinema.name)
        </dd>
        <dt>
            Room ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.room_id)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index") | 
            <input type="submit" value="Delete" class="btn btn-outline-dark" />
        </div>
    }
</div>
