@model IEnumerable<MyCinema.Models.Projection>

@{
    ViewBag.Title = "Projections-List";
}

<h2>Projections list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Movie")
        </th>
        <th>
            @Html.Label("Start Date")
        </th>
        <th>
            @Html.Label("Cinema")
        </th>
        <th>
            @Html.Label("Room ID")
        </th>
        <th>
            Available seats
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>
                    @if (item.Movie.picture != null && item.Movie.picture.Length > 0)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Movie.picture)" style="max-height: 150px; max-width: 300px;" />
                    }
                </div>
                <div style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Movie.name)
                </div>
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy - HH:mm }h", item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Cinema.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.id)
            </td>
            <td>
                @{
                    CinemaDBConnection db = new CinemaDBConnection();
                    List<Ticket> tickets = db.Ticket.ToList();
                    int seatsTaken = 0;
                    foreach (var ticket in tickets)
                    {
                        if (ticket.projection_id == item.id)
                        {
                            seatsTaken++;
                        }
                    }
                    db.Dispose();
                    <div>@(item.Room.Seat.Count - seatsTaken) out of @item.Room.Seat.Count</div>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
                    }

</table>