@{
    ViewBag.Title = "Admin-Panel";
}

<h2>Welcome admin!</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.ActionLink("View Users", "Index", "Users")
    </dt>
    <dt>
        @Html.ActionLink("View Cinemas", "Index", "Cinemas")
    </dt>
    <dt>
        @Html.ActionLink("View Rooms", "Index", "Rooms")
    </dt>
    <dt>
        @Html.ActionLink("View Movies", "Index", "Movies")
    </dt>
    <dt>
        @Html.ActionLink("View Projections", "Index", "Projections")
    </dt>
    <dt>
        @Html.ActionLink("View Tickets", "Index", "Tickets")
    </dt>
</dl>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.ActionLink("View Seats", "Index", "Seats")
    </dt>
</dl>







