<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@using MyCinema.Security;
<body style="background-image:linear-gradient(to bottom, black, 55px, grey, 155px, gold, 70%, white); background-repeat:no-repeat">
    <div class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#272521">
        @Html.ActionLink("My Cinema - Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Movies")">
                        View Movies
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">
                        Contact
                    </a>
                </li>
            </ul>
            @{
                if ((SessionPersister.Username == string.Empty) || (SessionPersister.Username == null))
                {
                    <div class="mt-2 mt-md-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="btn btn-outline-success p-xl-1 nav-link active" href="@Url.Action("Login", "Users")">
                                    Log In
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    if (SessionPersister.Admin.Contains("True"))
                    {
                        <div class="mt-2 mt-md-0">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link active font-weight-bold" href="@Url.Action("AdminPanel", "Users")" style="color:darkred">
                                        ADMIN PANEL
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    <div class="mt-2 mt-md-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("UserPanel", "Users")">
                                    Welcome @SessionPersister.Username
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-2 mt-md-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="btn btn-outline-danger p-xl-1 nav-link active" href="@Url.Action("Logout", "Users")">
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
    <main role="main" class="container" style="margin-top:-20px; max-width:100%">
        <br />
        <div class="row">
            <div class="col-md-1" style="display:inline-block; background:url(../../images/movie-tape.png); background-size:contain; background-repeat:repeat-y;"></div>
            <div class="col-md-10" style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
                <br />
                @RenderBody()
            </div>
            <div class="col-md-1" style="display:inline-block; background:url(../../images/movie-tape.png); background-size:contain; background-repeat:repeat-y ;"></div>
        </div>
        <hr />
        <footer>
            <p>&copy; NB @DateTime.Now.Year - All rights reserved</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", false)
</body>
</html>


